.App {
  text-align: center;
}

.Hidden {
  display: none;
}

.NoResults {
  font-size: 14pt;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
